.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px 0;
  margin-left: 10px;
  min-height: 350px;
  position: relative;
}
.row_posters::-webkit-scrollbar {
  display: none;
}

.row_poster {
  transition: transform 450ms;
  cursor: pointer;
  margin: 0 10px;
  text-align: center;
  position: relative;
}

.row_poster > img {
  max-height: 300px;
  object-fit: contain;
  border-radius: 10px;
}

.row_poster:hover {
  transform: scale(1.05);
}

.row_title {
  margin: 10px 10px;
  position: relative;
  padding: 0 5px;
  display: inline-block;
}
.row_posters .loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: maroon;
  height: 50px;
  width: 50px;
  z-index: 2;
}
