.search_-container {
  min-height: 50px;
  padding: 0 20px;
}
.search_form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px;
}
.search_form input {
  height: 30px;
  padding: 0 10px;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(122, 122, 122);
  border-radius: 2px;
  font-size: initial;
  color: gray;
}
.search_form button {
  width: 100px;
  padding: 5px 20px;
  border: none;
  margin-left: 10px;
  border-radius: 10px;
  cursor: pointer;
  background: maroon;
  color: white;
}
.search_form button:hover {
  transform: scale(0.9);
}
.search_form button:active {
  transform: scale(1);
}
.column_search_result {
  max-width: 100vw;
  max-height: 400px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  padding: 5px;
}
.column_search_result:hover {
  background: maroon;
  color: white;
  cursor: pointer;
  transform: scale(0.99);
  transition: all ease-in 300ms;
}
.search_result_title {
  margin: 20px;
}
.column_search_image {
  max-height: 150px;
  margin-right: 20px;
  height: 100%;
}
.movie_info {
  flex: 1;
}
.movie_title {
  font-weight: 400;
  margin-bottom: 10px;
}
.movie_description {
  font-size: 14px;
}

@media screen and (max-width: 500px) {
  .column_search_result {
    flex-direction: column;
  }
  .movie_title {
    text-align: center;
    font-size: 20px;
  }
}
